.btn-blue {
	background-color: rgb(150, 150, 150);
	padding: 10px 10px;
	width: fit-content;
	margin: 0 auto;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Nunito', sans-serif;
	font-size: 25px;

}

.btn-blue a{
	color: white;
	font-weight: bold;
	font-family: 'Nunito', sans-serif;
	font-size: 25px;
}

